
body{
    background-color: cornsilk;
    
}

/* form {
  display: flex;
  width: clamp(200px, 50%, 1000px);
} */

@media (max-width: 768px) {
  /* form {
    display: block;
  } */
  .container {
    align-items: center !important;
    
  }

  #image_container {
    min-width: 318px;
    left: 44% !important;
    
  }

  #image_container img {
    min-width: 318px;
  }

  #image_box {
    min-width: 318px;
    left: 44% !important;
  }

  .header {
    font-size: 1rem !important;
    margin-top: 20rem !important;
  }

  .music {
    font-size: 3rem !important;
    
  }

  .to{
      flex: 1;
      font-size: 36px;
  }

  .parag {
    min-width:100%;
    color: red;
    /* flex: 1; */
    font-size: 3rem !important;
    width: min-content !important;
}

    .empty2{
     font-size: 3rem !important;
     margin-top: 19rem !important;
     margin-bottom: 5rem !important;
    }

}

.container {
  /* flex: 1 0 130px; */
  position: relative;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
  
  /* transform: translate(-50%, -50%); */
}

#image_container img {
  max-width: 100%;
  max-height: 100%;
}

#image_container {
  /* flex: 1 0 130px; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  max-width: 39%;
  /* max-height: 100vh; */
  /* font-size: 58px; */
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  /* overflow-y: scroll; */
  margin: 20px;
  /* padding: 20px; */
  /* z-index: 2; */
}

#image_box {
  /* flex: 1 0 130px; */
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 39%;
  max-height:100vh;
  font-size: 58px;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  margin: 20px;
  padding: 20px;
  z-index: 2;
}

.album_art {
  /* height: auto; */
  /* flex: 1;
  flex: 1 0 130px; */
  position: sticky;  
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
  .header {
    flex: 1;
    flex: 1 1 130px;
    color: cornsilk;
    font-size: clamp(0.005rem, 2vw, 3rem);
    margin-top: 30vh;
    align-items: center;
    text-align: center;
  }

  .music {
    flex: 1 1 100%;
    color: cornsilk;
    /* flex: 1; */
    margin-top: 65vh;
    font-size: clamp(0.1rem, 4vw, 5rem);
    align-items: center;
    text-align: center;
    
  }

  .to{
      flex: 1;
      font-size: 36px;
  }

  .parag {
    flex: 1 1 130px;
    color: cornsilk;
    max-width:max-content;
    flex: 1;
    font-size: clamp(1rem, 6.2vw, 80rem);
    /* height: 400px; */
    margin-top: 60vh; 
    text-align:justify;
}

.empty2{
  height: 250px; 
  margin-top: 80vh;
  margin-bottom: 1vh;
  font-size: 70px;
  flex: 3;
  color: cornsilk;
  font-style: oblique;
overflow-y: scroll;
text-align: center;
}

#tthew {
  text-align: center;
}

  .empty2::-webkit-scrollbar,
  #image_box::-webkit-scrollbar,
  #image_container::-webkit-scrollbar,
  .header::-webkit-scrollbar,
  .parag::-webkit-scrollbar 
  {
    display: none;
  }

  /* .empty1{
    flex: 3;
    height: 200px;
  } */


 

  a:link {
    color: cornsilk;
  }
  
  /* visited link */
  a:visited {
    color: mediumaquamarine;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration:wavy;
    
  }
  
  /* selected link */
  a:active {
    color: yellow;
  } 
  

  