
body{
    background-color: cornsilk;
    
}

/* form {
  display: flex;
  width: clamp(200px, 50%, 1000px);
} */



.container {
  /* flex: 1 0 130px; */
  position: relative;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
  /* transform: translate(-50%, -50%); */
}

#image_container img {
  max-width: 100%;
  max-height: 100%;
}

#image_container {
  display: flex;
  flex: 1 0 130px;
   flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;   */
  max-width: 39%;
  /* max-height: 100vh; */
  /* font-size: 58px; */
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  /* overflow-y: scroll; */
  margin: 20px;
  /* padding: 20px; */
  /* z-index: 2; */
}

#image_box {
  /* flex: 1 0 130px; */
  /* display: flex; */
  /* flex: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 39%;
  max-height:100vh;
  font-size: 58px;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  overflow: auto;
  margin: 20px;
  padding: 20px;
  z-index: 2;
}

.album_art {
  /* height: auto; */
  /* flex: 1;
  flex: 1 0 130px; */
  position: sticky;  
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
  .header {
    flex: 1;
    flex: 1 1 130px;
    color: cornsilk;
    font-size: clamp(0.005rem, 2vw, 3rem);
    /* margin-top: 29vh; */
    align-items: center;
    text-align: center;
    
  }

  .music {
    flex: 1 1 100%;
    color: cornsilk;
    /* flex: 1; */
    margin-top: 10em;
    font-size: clamp(0.1rem, 4vw, 5rem);
    align-items: center;
    text-align: center;
    
  }

  .to{
      flex: 1;
      font-size: 36px;
  }

  .parag {
    flex: 1 1 130px;
    color: cornsilk;
    max-width:max-content;

    margin-top: 7em;
    font-size: clamp(1rem, 6.2vw, 80rem);
    height: auto;
    
    text-align:justify;
}

  .empty2{
    /* flex: 1; */
    margin-top: 30rem;
    margin-bottom: 180px;
    font-size: 70px;
    flex: 1 1 130px;
    color: cornsilk; 
    font-style: oblique;
    overflow-y: scroll;
    text-align: center;
  }

#tthew {
  text-align: center;
}

  .empty2::-webkit-scrollbar,
  #image_box::-webkit-scrollbar,
  #image_container::-webkit-scrollbar,
  .header::-webkit-scrollbar,
  .parag::-webkit-scrollbar 
  {
    display: none;
  }

  /* .empty1{
    flex: 3;
    height: 200px;
  } */


 

  a:link {
    color: cornsilk;
  }
  
  /* visited link */
  a:visited {
    color: cornsilk;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration:wavy;
    
  }
  
  /* selected link */
  a:active {
    color: yellow;
  } 
  
  @media (max-width: 768px) {
    /* form {
      display: block;
    } */
    .container {
      
      align-items: center !important;
      
    }
  
    #image_container {
      min-width: 318px !important;
      /* left: 44% !important; */
      margin: 0;
      padding: 0%;
      border: 0%;
      
    }
  
    #image_container img {
      min-width: 318px !important;
    }
  
    #image_box {
      min-width: 310px !important;
      left: 49% !important;
      margin: 0;
      padding: 0%;
      border: 0%;
      
    }
  
    .header {
      font-size: 1rem !important;
      margin-top: 25em !important;
    }
  
    .music {
      font-size: 3rem !important;
      
    }
  
    .parag {
      flex: 1;
      font-size: 3rem !important;
      max-width: fit-content !important;
  }
  
    .empty2{
      font-size: 3rem !important;
      margin-top: 19rem !important;
      margin-bottom: 300px !important;
    }
  
  }

  @media (max-width: 1920px) {
    .header {
      margin-top: 40vh;
    }
    .empty2 {
      margin-bottom: 130px;
    }
  }

  @media (min-width: 1366px) {
    .header {
      margin-top: 29vh;
    }
    .empty2 {
      margin-bottom: 100px;
    }
    
  }

  @media (min-width: 1920px){
    .parag {
      max-width: 66rem !important;
      font-size: clamp(1rem, 4vw, 50rem) !important;
    }
    .header {
      margin-top: 30vh;
    }
  }

  @media (max-width: 1365px) {
    .header {
      margin-top: 40vh;
    }
    .empty2 {
      margin-bottom: 180px;
      font-size: 9vh;
    }
  }

  /* @media (max-width: 900px) {
    .header {
      margin-top: 30vh;
    }
  } */
  